<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.yueny.fw.practice.lock.Deadlock"></bean>
    <bean id="actionService" class="com.yueny.fw.practice.manager.impl.ActionServiceImpl"></bean>

    <bean id="designFactoryBean" class="com.yueny.fw.practice.factorybean.DesignFactoryBean">
        <property name="interfaceName" value="com.yueny.fw.practice.manager.IService" />
        <property name="target" ref="actionService" />
    </bean>

</beans>
